#CntBanTitu{
    text-align: center;
    color: #2e2d2d;
}

.titulo{
    position: relative;
    left: 25px;
}

body{
    background-color: #383735;
}

input{
    position: relative;
    left: 4px;
}

p{
    position: relative;
    left: 45px;
}


.card{
    max-width: 820px;
    margin: 0 auto;
    
}


h1{
    color:#e9f0e9;
    margin-left:43%;
   }

#plots{
    margin:auto;
    background-color: #2e2d2d;
   }


